<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestSuite" preserve-order="true" parallel="false">
	<listeners>
		<listener class-name="com.aepl.listeners.TestListener" />
	</listeners>
	<test name="AllTests">
		<classes>
			<class name="com.aepl.tests.LoginTest" /> 		
			
			<!-- Dashboard -->
			<class name="com.aepl.tests.DeviceDashboardPageTest" />		
			<class name="com.aepl.tests.UserComplaintsDashboardPageTest" />
			<class name="com.aepl.tests.TicketDashboardPageTest" />
				
			<!-- Device Utility -->
			<class name="com.aepl.tests.MyAis140TicketsPageTest" />
			<class name="com.aepl.tests.GovernmentServerPageTest" />
			<class name="com.aepl.tests.FotaPageTest" />
			<class name="com.aepl.tests.OtaPageTest" />
			<class name="com.aepl.tests.DeviceModelPageTest" />
			<class name="com.aepl.tests.DealerFotaPageTest" />
			<class name="com.aepl.tests.SimLotsPageTest" />
			<class name="com.aepl.tests.ChangeMobilePageTest" />
			<class name="com.aepl.tests.DispatchedDevicePageTest" />
			<class name="com.aepl.tests.UserComplaintsPageTest" />
			
			<!-- Reports -->
			<class name="com.aepl.tests.VehicleEOLPageTest" />
			<class name="com.aepl.tests.SimDataDetailsPageTest" />

			<!-- User Management -->
			<class name="com.aepl.tests.UserManagementPageTest" />
			<class name="com.aepl.tests.UserRolePageTest" />
			
		</classes>
	</test>
</suite>